<ng-container>
    <div style="display: flex; justify-content: center;">
        <h1>Ejercicio 1</h1>
    </div>
    <div style="padding: 2rem 6rem;">
        <h2>Ingrese el rango para ver los números primos: </h2>
        <div>
            <div>
                <h3>Start: </h3>
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Start</mat-label>
                    <input matInput type="text" [(ngModel)]="start">
                    <button *ngIf="start!=''" matSuffix mat-icon-button aria-label="Clear" (click)="start=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <h3>End:</h3>
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>End</mat-label>
                    <input matInput type="text" [(ngModel)]="end">
                    <button *ngIf="end!=''" matSuffix mat-icon-button aria-label="Clear" (click)="end=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div>
                
            </div>
        </div>
        <div style="display: flex; justify-content: center; margin-top: 2rem;">
            <button mat-raised-button color="secondary" (click)="calculatePrim()" [disabled]="end === '' || start === ''">Calcular</button>
        </div>
    </div>
</ng-container>
