<ng-container>
    <div style="display: flex; justify-content: center;">
        <h1>Ejercicio 1</h1>
    </div>
    <div style="padding: 2rem 6rem;">
        <h2>Ingrese el rango para ver los números primos: </h2>
        <div style="display: flex;">
            <div style="width: 50%;">
                <h3>Start: </h3>
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Start</mat-label>
                    <input matInput type="text" [(ngModel)]="start">
                    <button *ngIf="start!=''" matSuffix mat-icon-button aria-label="Clear" (click)="start=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <h3>End:</h3>
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>End</mat-label>
                    <input matInput type="text" [(ngModel)]="end">
                    <button *ngIf="end!=''" matSuffix mat-icon-button aria-label="Clear" (click)="end=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div style="  display: block; width: 350px; height: 200px; overflow-y: scroll; scroll-behavior: smooth;">
                <div *ngFor="let prim of prims" style="padding: 0.5rem; display: flex; justify-content: center; border-radius: 5px; background-color: aliceblue;">
                    <label>{{prim}}</label>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center; margin-top: 2rem;">
            <button mat-raised-button color="secondary" (click)="calculatePrim()" [disabled]="end === '' || start === ''">Calcular</button>
        </div>
        
    </div>
</ng-container>
